@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>EAMV</title>
</head>
<body>
    <div class="text-center m-2">
        <h3> Welcome the EAMV System Administration website.</h3>
        <a class="btn btn-primary" asp-action="CreateStudent">Click here to create a student</a>
    </div>
</body>
</html>